{% extends "_base.html" %}
{% block bodycontent %}

{% for image in images %}
<a href="/image?id={{image.key.urlsafe}}"><h3>{{ image.title }}</h3>
<img src="{{image.image_url}}"></a><br>
{{image.description}}<br>
{{image.comment_count}} {% if image.comment_count == 1 %}comment{% else %}comments{% endif %}<br>
{{image.count}} {% if image.count == 1 %}user voted{% else %}users voted{% endif %} for this idea. 
{% if user_email %}
<br><i>
{% if image.voted %}
<a href="/notdumb?id={{image.key.urlsafe}}">Click here to remove your vote.</a>
{% else %}
<a href="/dumb?id={{image.key.urlsafe}}">Click here to vote for this idea!</a>
{% endif %}
</i>
{% endif %}
<br>
{% empty %}
There are no ideas.
{% endfor %}

{% endblock %}